@import '_variables';

.about-author {
  .content {
    padding-left: 50%;

    p {
      margin: 0 !important;
    }
  }

  @media (min-width: ($MQMobile + 1)) {
    .spacer {
      height: 100px;
    }
  }

  #avatar {
    position: absolute;
    max-width: 40%;
    max-height: 80%;
    right: 55%;
  }

  #contact {
    .tips {
      opacity: 0;
      transition: all .25s;
      font-size: small;
      transform: translateY(50%);
    }

    &:hover .tips {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: ($MQMobile)) {
    #contact {
      .tips {
        position: absolute;
        right: 55%;
        bottom: 0;
        width: 40%;
      }
    }
    
    #avatar {
      transform: translateY(-4rem);
      position: absolute;
      max-width: 40%;
      max-height: 80%;
      right: 55%;
    }
  }
}

.about-thanks {
  .content {
    text-align: center;
    min-width: 100vw;
    box-sizing: border-box;

    h1 {
      font-size: 3rem;
    }

    h4 {
      padding: 2rem 0;
    }
  }
}

.thx-card {
  margin: 10px;
  text-align: left;
  position: relative;
  display: inline-block;
  background: var(--c-bg-lighter);
  min-height: 125px;
  padding: 5px;
  padding-left: 135px;
  // overflow: hidden;

  img {
    position: absolute;
    width: 125px;
    left: 5px;
    top: 5px;
  }

  h2, p {
    margin: 0;
    line-height: 1.4;
  }

  h2 {
    border: none;
  }

  p:nth-of-type(n+3) {
    font-size: 1.2rem;
  }
  
  @media (max-width: ($MQMobile)) {
    display: block;
  }
}

.content .small {
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
}

.about-changelog {
  .content {
    img {
      max-width: 40vw;
    }
  }
}