@import '_variables';

#content-mask {
  flex: 1;
  
  .mobile & {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    height: 200vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition-property: background-color, margin-bottom;
    transition-duration: 0.3s;
    background: rgba(0,0,0,.5);

    &:not(.show) {
      margin-bottom: -100vh;
      background: none;
      animation: content-mask 0s ease 0.3s forwards;
    }
  }
}

@keyframes content-mask {
  to {
      height: 100vh;
  }
}

.page.wiki {
  display: flex;
  background: var(--c-bg-light);
  padding-bottom: 0;
  height: 100vh;
  box-sizing: border-box;

  .icon {
    display: none;
    width: 100px;
    overflow: visible;
    transition: opacity 0.3s ease;

    .mobile & {
      position: absolute;
      display: block;
      margin-top: -40px;
    }

    &.hide {
      opacity: 0;
    }
  }

  .content {
    box-sizing: border-box;
    background: var(--c-bg);
    overflow-y: auto;
    overflow-y: overlay;
    height: 100%;

    .mobile & {
      z-index: 6;
      max-height: 60vh;
      height: auto;
      width: 100%;
      // position: relative;

      h2 {
        padding-left: 105px;
      }
    }

    blockquote {
      margin-top: -1rem;
    }

    .custom-container * {
      font-size: 16px;
    }

    div > p,
    ul {
      line-height: 1.2;
      font-size: 20px;
    }

    h2 + p {
      font-size: 16px;
      font-weight: bold;
      margin: -1em 0;
      opacity: 0.8;
    }
  }

  .list {
    flex: 2;
    margin: 0;
    padding: 1em 40px;
    overflow-y: auto;
    overflow-y: overlay;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: ($MQMobile)) {
      padding: 1em 1em;
    }

    h2 {
      font-size: 20px;
      border: none;
      margin: 0;
      font-weight: 400;
    }
  }

  .list-container {
    background: var(--c-bg);
    padding: 1rem 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    // justify-content: space-evenly;

    .item {
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
      }

      img,
      &::before {
        width: 100%;
        height: 100%;
      }

      &.fade {
        opacity: .5;
        filter: grayscale(60%);
      }
    }
  }
}

.page.wiki-perk {
  .list-container {
    justify-content: center;
  }

  .item {
    height: 120px;
    width: 120px;
    margin: -0.5rem 0;
    border-radius: 50%;

    @media (max-width: ($MQMobile)) {
      height: 70px;
      width: 70px;
    }

    &:hover::before {
      background-image: url('/images/mouseSlipPerk.png');
    }

    &.selected::before {
      background-image: url('/images/lockedPerk.png');
    }
  }
}

.page.wiki-item-killer {
  .item {
    height: 60px;
    width: 60px;

    &:hover::before {
      background-image: url('/images/mouseSlipItem.png');
    }

    &.selected::before {
      background-image: url('/images/lockedItem.png');
    }
  }
}

.page.wiki-item-favor {
  .list-container {
    justify-content: center;
  }

  .item {
    height: 100px;
    width: 100px;

    &:hover::before {
      background-image: url('/images/mouseSlipFavors.png');
    }

    &.selected::before {
      background-image: url('/images/lockedFavors.png');
    }
  }
}

.search-box {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  svg {
    position: absolute;
    height: 2rem;
    top: 0.8rem;
    padding-left: 0.8rem;
    pointer-events: none;
  }

  .filters {
    user-select: none;
    background: var(--c-bg-navbar);
    opacity: 0;
    transition: all .3s;
    transform: translateY(-100%);
    position: absolute;
    z-index: -1;
    border: 1px solid var(--c-border);
    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    box-sizing: border-box;

    label {
      display: inline-block;
    }
  }

  &.focus:hover .filters {
    opacity: 1;
    transform: translateY(0);
  }

  &.focus {
    #search-box {
      width: 20rem;
      cursor: initial;
  
      .mobile & {
        width: 100vw;
      }
    }
  }
}

#search-box {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  display: block;
  appearance: none;
  outline: none !important;
  background-color: var(--c-bg);
  color: inherit;
  padding-left: 3.6rem;
  width: 3.6rem;
  transition: all .3s;
  font: inherit;
  cursor: pointer;
}